/*We are creating this file because we have to use button multiple times in our application so we have created one button style, we can make in it global style file (style.scss) but im making it here and will use in global style.scss*/

.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    //used for animation when we click on button
    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: #e1034d;
        color: white;
    }

    &:active{
        transform: scale(0.9);
    }
}